/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-text{
    color: var(--color-primary-red);
}
.bg-lightGrey{
    background-color: var(--color-lightGrey);

}
.bg-darkGrey {
    background-color: var(--color-darkGrey);

}
/************************************************************/


/********TITLE => SECTION-TITLE style***********/
.title {
    padding: 0px;
  }

h4 {
    display: inline-block;
    width: 100%;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 80px;
}

.section-title .line{
    display: inline-block;
    width: 100%;
}

.section-title .line-left{
    display: inline-block;
    width: calc(50% - 2px);
    text-align: right;
    padding-right: 20px;
}

.section-title .line-right{
    display: inline-block;
    width: calc(50% - 2px);
    padding-left: 20px;
}

.section-title .buble-left {
    display: inline-block;
    width: 30px;
    border-top: 2px solid var(--color-primary-red);
    border-radius: 2px;
}

.buble-left::after{
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid var(--color-primary-red);
    border-radius: 30px 30px 30px 0;
    transform: rotate(45deg);
    position: relative;
    bottom: 11px;
    left: 22px;
}

.section-title .buble-right{
    display: inline-block;
    width: 30px;
    border-top: 2px solid var(--color-primary-red);
    border-radius: 2px;
}
.buble-right::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: transparent;
    border: 2px solid var(--color-primary-red);
    border-radius: 30px 0 30px 30px;
    transform: rotate(45deg);
    position: relative;
    bottom: 11px;
    right: 22px;
    }

.section-title > p {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #6c757d;
}
/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */

/************************************************************/

/************************************************************/
/* CLIENTS */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* NUMBERS */

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* LATEST WORK */

/************************************************************/

/************************************************************/
/* JOB HISTORY */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
