/************************************************************/
/* BASIC */

/************************************************************/

/************************************************************/
/* LAYOUT */

.bg-text{
    color: var(--color-primary-red);
}
.bg-lightGrey{
    background-color: var(--color-lightGrey);

}
.bg-darkGrey {
    background-color: var(--color-darkGrey);

}

h4 {
    display: inline-block;
    width: 100%;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    line-height: 100px;
    position: relative;
   
    /* margin: 0 0 24px;
    padding: 0 0 24px; */
}

h4::before, h4::after {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border: 2px solid var(--color-primary-red);
}

h4::before {
    border-radius: 30px 30px 30px 0;
    transform: rotate(45deg);
}

h4::after {
    border-radius: 30px 0 30px 30px;
    transform: rotate(45deg);
    }

/************************************************************/

/************************************************************/
/* HEADER */

/************************************************************/

/************************************************************/
/* HERO */

/************************************************************/

/************************************************************/
/* CLIENTS */

/************************************************************/

/************************************************************/
/* ABOUT ME */

/************************************************************/

/************************************************************/
/* NUMBERS */

/************************************************************/

/************************************************************/
/* SKILLS */

/************************************************************/

/************************************************************/
/* LATEST WORK */

/************************************************************/

/************************************************************/
/* JOB HISTORY */

/************************************************************/

/************************************************************/
/* SERVICES */

/************************************************************/

/************************************************************/
/* TESTIMONIALS */

/************************************************************/

/************************************************************/
/* CONTACT ME */

/************************************************************/

/************************************************************/
/* FOOTER */

/************************************************************/
