        /* .gallery {
            display: inline-block;
            width: 100%;
            height: 100vh;
        }
        
        .gallery>.filter {
            display: inline-block;
            width: 100%;
        }
        
        .gallery>.list {
            display: grid;
            grid-template-columns: repeat(3, calc(100% / 3));
            grid-template-rows: 300px 300px;
            gap: 10px;
        } */
        
        .portfolio>.row>.filter {
            width: 100%;
            text-align: center;
        }
        
        .portfolio>.row>.filter>p {
            display: inline-block;
            border: 1px solid transparent;
            padding: 5px 10px;
            font-size: 15px;
            text-transform: capitalize;
            margin: 40px 5px;
            border-radius: 5px;
        }
        
        .portfolio>.row>.filter>p:hover {
            background-color: var(--color-primary-red);
            color: white;
            cursor: pointer;
        }
        
        .portfolio>.row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        
        .portfolio>.row>.images {
            flex: calc(100% / 3);
            max-width: calc(100% / 3);
        }
        
        .portfolio>.row>.images img {
            vertical-align: middle;
            width: 100%;
            cursor: pointer;
            position: relative;
        }
        
        .portfolio>.row>.images img:hover {
            background-color: black;
        }
        /* .portfolio>.row>.images>.picture_shadowing {
            width: 100px;
            height: 100px;
            background-color: black;
            position: absolute;
            top: 30;
            left: 30;
        } */