.hAh{display: inline-block;
    padding-top: 35px;

}
.hAh>.row>nav{
    display: inline-block;
width: 1100px;
margin: 0px calc(50% - 550px);

}

.hAh>.row>nav>img {
    width: 108px;
    height: 15px;
    float: left;
    margin-right: 110px;
    
   
}
.hAh>.row>nav>img:hover{
    cursor: pointer;
}

.hAh a{
    display: inline-block;
    margin-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 15px;
    float: left;
    font-weight: bolder;
    
}
.hAh a:hover{
    color: #B92B21;
}

#arrowDown{
    margin-top: 5px;
    padding-left: 5px;
    font-weight: bolder;
}
.dropdown {
    position: relative;
display: inline-block;
  }

  .dropdown-content {

    display: none;
    position: absolute;
    top: 150%;
    left: 20%;
    background-color: #f1f1f1;
    width: 150px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    
  }

  .dropdown-content a {
    
    text-transform: capitalize;
    font-weight: normal;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-left: 0px;
    line-height: 15px;
    text-align: left;
   
    
  }

  .dropdown:hover .dropdown-content {display: block;}
  .dropdown-content a:hover {background-color: #ddd;}
  

.hAh>.row>nav>i
{
    display: inline-block;
    float: right;
    border: 1px solid white;
    border-spacing: 10px;
    width: 30px;
    height: 30px;
    padding: 6px 5px 4px;
    border-radius: 3px;
    margin: -5px 0px 0px 15px;
    }
    .hAh>.row>nav>i:hover {
background-color: #B92B21;
        cursor: pointer;
    }
    