@import './variables.css';
@import './reset.css';
@import './font-awesome.min.css';
@import './layout.css';
@import './button.css';
@import './block.css';
@import './client-brands.css';
@import './footer.css';
@import './form.css';
@import './gallery.css';
@import './header.css';
@import './progress-bar.css';
@import './testimonials.css';
@import './form.css';
@import './mouse.css';

/* <!-- hero start --> */

.hAh {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-image: url(../img/home/01.jpg);
    background-size: 130% 180%;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    color: white;
    letter-spacing: 1px;
}

.hero img {
    display: inline-block;
    width: 200px;
    background-image: url(../img/home/hero.jpg);
    background-size: contain;
    background-position: center;
    border: 5px solid #DEE2E6;
    border-radius: 100px;
    margin-top: 100px;
}

.hero>h3 {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    margin: 16px 0px 8px;
}

.hero>h1 {
    display: inline-block;
    width: 100%;
    font-size: 50px;
    margin-bottom: 8px;
}

.hero>p {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    max-width: 700px;
    line-height: 27px;
    margin-bottom: 20px;
}


/* <!-- hero end -->

/* <!-- about me+hobbies & interests start--> */

.aboutme {
  display: inline-block;
  padding: 100px 0 80px 0;
}

.aboutme .face {
    width: 100%;
    border-style: none;
    border: 16px solid #f8f9fa;
}

.aboutme .textbox {
    display: inline-block;
    width: 100%;
    color: #161C2D;
    line-height: 35px;
}

.aboutme .alignright {
    display: inline-block;
    width: 20%;
    float: left;
}

.aboutme>.row>.col-7>h5 {
    color: #B92B21;
    font-size: 26px;
    margin: 0 0 16px;
}

.aboutme>.row>.col-7>h6 {
    font-size: 16px;
    margin: 0 0 16px;
}

.aboutme>.row>.col-7>p {
    display: inline-block;
    margin: 0 0 16px;
    color: #6C757D;
}

.aboutme>.row>.col-7>.col-3>.sign {
    height: 35px;
    margin: 16px 0;
}

.aboutme>.row>.col-7>a {
    display: inline-block;
}

.interests {
  padding-top: 35px;
}

.hobbies {
    margin: 24px 0 0;
    font-size: 17px;
}

.hobbies>i {
    display: inline-block;
    width: 25%;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    background-color: #f8f9fa;
}

.hobbies>i:hover {
    background-color: #fff;
    color: #B92B21;
}

.hobbies>p {
    display: inline-block;
    width: 70%;
    line-height: 50px;
    background-color: #f8f9fa;
}

.hobbies>p:hover {
    background-color: #fff;
}
/* <!-- about me+hobbies & interests end--> */
#services {
    display: inline-block;
    padding: 50px 0 0 0;
   
}
#services.wrapper {
    display: inline-block;
    padding: 20px;
    
}

/* <!-- what i offer start -->

<!-- what i offer end -->

/*<!-- achievements start -->*/

.bg-achievements {
    display: inline-block;
    width: 100%;
    height: 40vh;
    background-image: url(../img/portfolio/bg-counter.jpg);
    background-position-x: left;
    background-position-y: top;
}

.bg-overlay {
    background-color: rgba(35, 37, 47, 0.7);
    width: 100%;
    height: 40vh;
    position: absolute;
}

.achievement {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    position: relative;
}

.achievement i {
    display: inline-block;
    font-size: 50px;
    line-height: 90px;
    text-align: center;
    color: #c52c20 !important;
}

.achievement .texts {
    display: inline-block;
    margin-left: 15px;
    line-height: 30px;
    color: #fff !important;
}

.achievement .texts>.number {
    display: inline-block;
    font-size: 40px;
    line-height: 50px;
}

.achievement .texts>.title {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}


/*<!-- achievements end -->*/

<!-- work participation start --><!-- work participation end --><!-- WORK EXPERTISE start --><!-- WORK EXPERTISE end --><!-- LATEST NEWS & BLOG start --><!-- LATEST NEWS & BLOG end --><!-- hire me start --><!-- hire me end --><!-- contact me start --><!-- contact me end -->*/