.mouse {
    display: inline-block;
    height: 38px;
    width: 26px;
    border: 2px solid #495057;
    border-radius: 25px;
    background-color: white;
    margin-top: 50px;
<<<<<<< HEAD

=======
>>>>>>> e0406b3fcb70c08ff0233c650025073f40f52425
}